# flask & mysql & jinja templates
click==7.1.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==1.4.6
waitress==1.4.4
Werkzeug==1.0.1
# docker webhook api
dockerhub-webhook
# matrix webhook bot
markdown
matrix-nio
# flask input validation
marshmallow
# flask email
flask_mail
# monitoring prometheus
prometheus_client
flask-prometheus
prometheus_flask_exporter
